[submodule "vendor/spdlog"]
	path = vendor/spdlog/MacroPadCommons
	url = https://github.com/AnFerrr/spdlog
[submodule "MacroPadCommons/vendor/GLFW"]
	path = MacroPadCommons/vendor/GLFW
	url = https://github.com/AnFerrr/glfw
[submodule "vendor/GTest"]
	path = vendor/GTest
	url = https://github.com/google/googletest.git
